<!DOCTYPE html>
<html>
<title>LeBAH neXT</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
#parse("vtl/main/js_css.vm")
</head>
<body style="background:#ebebeb">

<div id="navbar">


	<div id="app_title" style="float:left;">
		<button class="openbtn" onclick="toggleNav()"><i class="fa fa-bars" aria-hidden="true"></i></button>  
		SALES & SERVICES MANAGEMENT SYSTEM
	</div>
	<div style="float:right;padding:15px;text-align:right">
		#if ( $_logged_in )
			<a href="javascript:void(0)" style="cursor:hand; cursor:pointer;color:#fff;font-family:Verdana;font-size:10pt;"
			onclick="_jq('#tab_logout').slideDown('slow');">
			#if ( $user.avatarImageFileName )
				<img style="width:30px;border-radius:50%" src="../download?filepath=/Users/Admin/uploads&filename=$!user.avatarImageFileName" />
			#else
				<i class="fa fa-user-circle-o" aria-hidden="true"></i> 
			#end
			$!user.firstName $!user.lastName
			</a>
		#else
			<a href="javascript:void(0)" style="cursor:hand; cursor:pointer;color:#fff;font-family:Verdana;font-size:10pt;"  onclick="show_login()">Login</a>
		#end
	</div>

	

</div>

#if ( $_logged_in )
	#parse("vtl/main/tab_logout.vm")
#end

<div id="portalSideMenu" class="sidebar">

	<div class="sidebar-title" onclick="closeNav()">
  		&nbsp;
  	</div>
  	
  	<div>
  		#if ( $_logged_in )
  			#parse("vtl/main/menu_user.vm")
  		#else
  			##parse("vtl/main/menu_anon.vm")
  			#parse("vtl/main/menu_demo.vm")
  		#end
  	</div>
  	<div id="bottom_text">
  		&copy; 2019 Ver 1.0
  	</div>
</div>


<div id="main" class="divMainBody" style="background:#ebebeb">

	<div class="wrapper content content-body">
		<form id="__main_form" name="__main_form" method="post" enctype="multipart/form-data">
			<input type="hidden" name="command" id="command">
			<input type="hidden" name="__module_name" id="__module_name">
			<div id="portal_main_view"></div>
			<div id="div_center" class="shadow"></div>
			#parse("vtl/main/modal-window.vm")
		</form>
	</div>
	
	<div style="margin-top:300px;text-align:center">
		<a href="#" style="text-decoration:none" data-toggle="modal" data-target="#modalAbout">&copy; 2019 Lebah
		. 
		Sales & Service Management System
		.
		Version 1.0
		.
		</a>
	</div>

</div>

<iframe id="upload_document" name="upload_document" width="0px" height="0px" style="visibility:hidden"></iframe>


#parse("vtl/main/modal-confirmation.vm")
#parse("vtl/main/modal-login.vm")
#parse("vtl/main/modal-about.vm")


<script>
	
	var isScrollTop = true;
	
	var _jq = jQuery.noConflict();
	
	function show_login() {
		_jq("#login_modal").modal();	
	}
	
	window.onscroll = function() {
		stickyNavBar()
	};

	var navbar = document.getElementById("navbar");
	var sticky = navbar.offsetTop;
	
	function stickyNavBar() {
		if (window.pageYOffset > sticky ) {
			navbar.classList.add("sticky")
		} else {
			navbar.classList.remove("sticky");
		}
		
	}

	function openNav() {
		document.getElementById("portalSideMenu").style.width = "250px";
		document.getElementById("main").style.marginLeft = "250px";
		document.getElementById("app_title").style.marginLeft = "250px";
	}

	function closeNav() {
		document.getElementById("portalSideMenu").style.width = "0px";
		document.getElementById("main").style.marginLeft = "0";
		document.getElementById("app_title").style.marginLeft = "0";
	}
	
	function toggleNav() {
		if ( document.getElementById("portalSideMenu").style.width === "0px" || document.getElementById("portalSideMenu").style.width === "" )
			openNav();
		else
			closeNav();
	}
	
	function uploadFile(elementName, e, querystring) {
		document.getElementById(e).innerHTML = '<img src="../img/indicator.gif"> Uploading.. please wait... ';
		document.__main_form.enctype='multipart/form-data';
		document.__main_form.encoding ='multipart/form-data';
		document.__main_form.target='upload_document';
		var module_name = document.getElementById('__module_name').value;
		document.__main_form.action='../div/' + module_name + '?command=uploadFile&elementName=' + elementName + '&divUploadStatusName=' + e + '&' + querystring;
		document.__main_form.submit();
	}
	
	function sendAjaxConfirm(msgHeader, msgBody, action, div, param) {
		document.getElementById("modal-header").innerHTML = msgHeader;
		document.getElementById("modal-message").innerHTML = msgBody;
		document.getElementById("action").value = action;
		document.getElementById("div").value = div;
		document.getElementById("param").value = param;
	}
		
	function sendAjax2(action, div, param) {
		isScrollTop = false;
		sendAjax(action, div, param);
	}
	
	function sendAjaxQuite(action, div, param) {
		isScrollTop = false;
		sendAjax(action, div, param);
	}
	
	function toggleSubMenu(e) {
		if ( document.getElementById(e).style.display == "none" ) {
			//document.getElementById(e).style.display = "block";
			_jq('#' + e).slideDown('slow');
			document.getElementById('icon-' + e).innerHTML = '<i class="fa fa-angle-down" aria-hidden="true"></i>';
		}
		else {
			//document.getElementById(e).style.display = "none";
			_jq('#' + e).slideUp('slow');
			document.getElementById('icon-' + e).innerHTML = '<i class="fa fa-angle-right" aria-hidden="true"></i>';
		}
	}
	
	function scrollTop() {
		if ( isScrollTop ) {
			_jq('body, html, #portal_main_view').scrollTop(0);
		}
		isScrollTop = true;
	}
	
	//ON PAGE FIRST LOAD
	Event.observe(window, "load", onload, false);
	function onload(){
		
		#if ( $_logged_in )
			let page_name = 'sb.salesmgt.modules.SalesDashboardModule';
			//let page_name = 'sb.salesmgt.modules.QuotationsModule';
			getPage(page_name);
			openNav();
		#else
			let page_name = 'lebah.portal.v2.LandingPageModule';
			//let page_name = 'lebah.module.UsersModule';
			getPage(page_name);
		#end
		

	}
	
</script>
</body>
</html>