<div id="hello_main">
<h1>Hello World $!name</h1>
<input name="name" value="">
<input type="button" onclick="sendAjax('sayHello', 'hello_main')" value="Say Hello">
<input type="button" onclick="sendAjax('sayHello')" value="Say Hello">
</div>
